@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic')

html, body
  min-width: 1122px
  // min-height: 1750px

body
  margin: 0
  padding: 0
  font-family: "PT Sans Narrow", Arial, sans-serif
  font-size: 14px
  line-height: 24px
  font-weight: 700
  color: #fff
  text-transform: uppercase
  background-color: #000
  background-image: url("img/tint.jpg")
  background-position: top center
  background-repeat: no-repeat
a
  text-decoration: none
.item-body, .shop-body
  background-image: url("img/fon-item.jpg")
  background-position: 0 0
  background-repeat: repeat
.button
  font: inherit
  text-align: center
  color: #fff
  vertical-align: middle
  text-transform: uppercase
  background-color: #000
  border: none
  width: 140px
  height: 44px
  display: inline-block
  line-height: 3
  &:hover, &:focus, &:active
    background-color: #663d15
.visually-hidden
  position: absolute
  clip: rect(0 0 0 0)
  width: 1px
  height: 1px
  margin: -1px

.main-header
  margin-bottom: 75px

.main-navigation
  color: #fff
  font-size: 16px
  line-height: 20px
  background-color: #000
  display: flex
  flex-direction: column
  align-items: center
  background-color: transparent
.main-header-logo
  order: 2
.main-navigation-wrapper
  width: 100%
  margin-bottom: 60px
  background-color: #000
.container-center
  width: 940px
  margin: 0 auto
  padding: 0 10px
  display: flex
  justify-content: space-between
  flex-wrap: wrap
.site-navigation, .user-navigation, .features-list,
.news-list, .breadcrumbs, .catalog-list, .pagination-list
  list-style: none

.site-navigation, .user-navigation
  margin: 0
  padding: 0
  width: 620px
  display: flex
  align-items: center
  height: 70px
  li
    padding: 25px 0 20px 0
    border-bottom: 4px solid transparent
  a
    color: #fff
    padding: 24px 20px
    &:hover, &:focus, &:active
      background-color: #242424
  .site-navigation-active
    border-bottom: 4px solid #fff
    a
      &:hover, &:focus, &:active
      background-color: transparent
.user-navigation
  width: 140px
  flex-direction: row-reverse
  //list-style-image: url("img/login.png")
  li
    padding: 0 22px 0 8px
    margin-left: 76px
.login-link
  display: flex
  justify-content: space-between
  width: 107px
  align-items: center
  img
    opacity: .5
  &:hover, &:focus, &:active
    background-color: #242424
    height: 60px
    .login-link img
      opacity: 1
.features
  margin-bottom: 80px
.features-list
  display: flex
  justify-content: space-between
  width: 940px
  padding: 0
  margin: 0
.index-collumns
  display: flex
  // justify-content: space-between
  flex-wrap: nowrap
  margin-bottom: 36px
.news, .gallery
  width: 348px
  height: 314px
  margin: 55px 36px 50px 81px
.gallery
  width: 300px
.contacts, .appointment
  margin: 55px 36px 50px 81px
  width: 347px
.appointment
  width: 300px
.appointment-form
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  button.button
    width: 100%
  label
    margin-left: 17px
  input
    padding-left: 17px
    width: 120px
    height: 43px
.appointment-item
  margin: 0
  margin-bottom: 20px
.contacts
  p
    margin: 0
    margin-bottom: 30px
  &-button
    margin-right: 20px
.main-footer
  padding: 62px 0 43px 0
  p
    margin: 0

.footer-social
  width: 140px
  ul
    display: flex
    justify-content: space-between
    padding: 0
    width: 140px
    margin: 0 auto
    li
      width: 43px
      height: 43px
      background-color: #000
.footer-contacts, .footer-social, .footer-copyright
  flex-basis: 310px
.footer-copyright
  span
    float: right


// item.html
.small-logo
  order: 0
  align-items: center
  display: inherit
.main-header-item, .main-navigation-wrapper-item
  margin: 0
.main-header-item
  margin-bottom: 55px
.page-title
  font-family: inherit
  color: #000
  font-size: 30px
  font-weight: 700
  line-height: 42px
  width: 100%
  margin: 0
.breadcrumbs
  font-family: inherit
  font-size: 14px
  font-weight: 700
  line-height: 24px
  width: 100%
  display: flex
  padding: 0
  margin: 28px 0 55px 0
  a
    color: #000
  .breadcrumbs-current
    color:  #aba9a7
  .shape
    margin: 0 14px
.product-photo
  display: inherit
  width: 460px
  flex-wrap: wrap
  &-preview
    padding: 0
    display: inherit
    width: inherit
    justify-content: space-between
.product-info
  width: 380px
.capture-wrapper
  display: flex
  justify-content: space-between
  margin: 26px 0 40px 0
.product-availability, .product-article
  margin: 0
.features-item
  text-align: center
  width: 300px
  height: 155px
  h3
    font-size: 30px
    line-height: 30px
    margin: 0 0 18px 0px
.features-img
  transform: rotate(45deg)
.product-photo-full img, .product-photo-preview img
  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2)
.product-info, .facilites-prices
  font-family: inherit
  font-size: 14px
  font-weight: 700
  line-height: 24px
  color: #000
  .product-article
    color: #aeaeae
    text-align: right
  .product-text
    margin-bottom: 40px
  .product-price
    margin-bottom: 67px
    b
      background-color: #e5e5e5
      background-image: url("img/fon-price.jpg")
      background-repeat: no-repeat
      text-align: center
      line-height: 20px
      display: inline-block
      width: 109px
      height: 34px
      padding-top: 10px
    a
      text-align: center
      line-height: 20px
      width: 78px
      line-height: 3
  h3
    font-size: 24px
    font-weight: 700
    line-height: 30px
    margin: 0
  ul
    list-style-image: url("img/Shape.svg")
    padding-left: 17px
    margin: 0

.facilites-prices
  display: flex
  justify-content: space-between
  width: inherit
  margin-bottom: 65px

//--------------------------

// shop.html
.filters
  font-family: inherit
  color: #000
  width: 170px
  fieldset, fieldset ul
    margin: 0
    padding: 0
    border: 0
  legend
    font-size: 24px
    font-weight: 700
    margin-bottom: 30px
  .filter-option
    list-style: none
    font-size: 14px
    font-weight: 700
    margin-bottom: 15px
.filters fieldset
  margin-bottom: 50px

// стилизация радио и чекбоксов
.filter-input + label, .filter-input-radio + label
  position: relative
  padding: 0 0 0 40px
  cursor: pointer
.filter-input + label:before, .filter-input-radio + label:before
  content: ''
  position: absolute
  top: -4px
  left: 0
  transition: .2s
.filter-input + label:after, .filter-input-radio + label:after
  content: ''
  position: absolute
  top: -2px
  left: 2px
  transition: .2s
  opacity: 0
  background-repeat: no-repeat
.filter-input:checked + label:after, .filter-input-radio:checked + label:after
  opacity: 1
.filter-input:focus + label:before
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 0px 1px 2px rgba(0, 205, 255, 0.7)

// стилизация чекбоксов
.filter-input + label:before
  width: 16px
  height: 16px
  border: 2px solid #000
  margin-top: 2px

.filter-input + label:after
  width: 15px
  height: 15px
  background-image: url(img/cross.svg)
  background-position: 2px 4px

// стилизация радио
.filter-input-radio + label:before
  width: 16px
  height: 16px
  border-radius: 50%
  border: 2px solid #000
  margin-top: 2px
.filter-input-radio + label[for="shaving"], .filter-input-radio + label[for="shaving"]:before
  display: inline-block
  line-height: 1
  margin-top: 1px
.filter-input-radio + label:after
  width: 15px
  height: 15px
  background-image: url(img/circle.svg)
  background-position: 4px 6px
.filter-input-radio + label[for="shaving"]:after
  background-position: 4px 5px
//------------------------------------------

.catalog
  width: 710px
  margin-bottom: 50px
  &-list
    margin: 0
    padding: 0
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 45px
.catalog-item
  box-shadow: 0px 0px 15px 0px rgba(0, 1, 1, 0.2)
  width: 220px
  height: 286px
  font-family: "PT Sans Narrow", Arial, sans-serif
  font-size: 14px
  font-weight: 700
  line-height: 18px
  background-color: #fff
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin-bottom: 20px
  .catalog-category, .catalog-item-title
    color: #000
    text-align: left
  .catalog-item-title
    text-transform: uppercase
  b
    background-color: #e5e5e5
    background-image: url("img/fon-price.jpg")
    background-repeat: no-repeat
    text-align: center
    line-height: 20px
    color: #000
  h3
    order: 2
    margin: 0
    margin-left: 16px
    width: 100%
  p
    order: 1
    margin: 0
  b
    order: 3
    margin-left: 16px
    width: 109px
    height: 43px
    line-height: 3
  a
    order: 4
    width: 78px
    height: 43px
    margin-right: 17px
.pagination-list
  margin: 0
  padding: 0
  display: flex
  justify-content: space-between
  width: 193px
  .pagination-item
    width: 43px
    height: 43px
    background-color: #000
    text-align: center
    font-size: 14px
    font-weight: 700
    line-height: 18px
    &:hover, &:focus, &:active
      background-color: #663d15
    a
      color: #fff
      padding: 12px 17px 12px 17px
      line-height: 42px
  .pagination-item-current
    background-color: #fff
    &:hover, &:focus, &:active
      background-color: #fff
      a
        cursor: default
    a
      color: #000
      padding: 0
      line-height: 42px
//---------------------------

// price.html
.price-title
  overflow: hidden
  text-align: center
  width: 100%
  margin-bottom: 70px
  h2
    display: inline-block
    vertical-align: middle
    font-family: "PT Sans Narrow", Arial, sans-serif
    color: #000
    font-size: 48px
    font-weight: 700
    line-height: 48px
    margin: 0
  &:before,
  &:after
    content: ""
    display: inline-block
    vertical-align: middle
    width: 100%
    height: 2px
    background-color: #000
    position: relative
  &:before
    margin-left: -100%
    left: -26px
  &:after
    margin-right: -100%
    right: -26px

.facilites-prices, .price-about
  h3
    color: #000
    font-size: 24px
    font-weight: 700
    line-height: 30px
    margin: 0
    margin-bottom: 35px
    width: 100%
  table
    border-spacing: 0px
    border-color: black
    td
      width: 231px
  .left
    line-height: 0
    text-align: left
  .center
    line-height: 0
    text-align: center
.price-about
  display: flex
  flex-wrap: wrap
  margin-bottom: 80px
  p
    font-size: 14px
    font-weight: 700
    line-height: 24px
    color: #000
    margin: 0
    width: 388px
.price-about :last-child
  margin-left: 90px
//------------------------

.index-collumns
  color: #000
  background-color: #F8F5F2
  background-image: url("img/pattern-light.jpg")
  background-position: 0 0
  background-repeat: repeat
  width: 940px
  h2
    font-size: 30px
    line-height: 30px
    margin: 0
    margin-bottom: 30px
.news-list
  padding: 0
  margin: 0
.news-item
  p
    margin: 0
    margin-bottom: 5px
  time
    text-transform: none
    margin: 0 0 16px 0
    display: inline-block

.gallery-content
  background-color: #ccc
  border: 7px solid #fff
  line-height: 0
  margin: 0
  margin-bottom: 30px
.gallery-button-back
  float: left
.gallery-button-next
  float: right

.appointment-item input
  font: inherit
  background-color: transparent
  border: 2px solid #000
  &:focus
    border-color: #663D15
    outline: none

.main-footer
  color: #fff
  background-color: #212121
  background-image: url("img/footer-fon.jpg")
  background-position: 0 0
  background-repeat: repeat

.footer-contacts a
  color: #fff
  text-decoration: underline
  &:hover, &:focus
    text-decoration: none
.map 
  cursor: pointer

.footer-social
  text-align: center
  ul
    list-style: none
    li
      &:hover, &:focus, &:active
        background-color: #663d15

.social-button
  color: #fff
  padding: 12px 10px
  display: inherit

.footer-copyright
  text-align: center

//---modal window
.modal
  color: #000
  background-color: #F8F3F0
  background-image: url("img/pattern-light.jpg")
  background-position: 0 0
  background-repeat: repeat
  position: fixed
  box-shadow: 0 30px 50px rgba(0,0,0,0.7)
  h2
    font-size: 30px
    line-height: 42px
    margin: 0
    margin-bottom: 14px
.modal-login
  width: 300px
  padding: 50px 80px
  top: 50vh
  left: 50vw
  margin-left: -230px
  margin-top: -170px
  z-index: 1
  visibility: hidden
  //display: none
.modal-map
  width: 766px
  height: 560px
  padding: 7px
  top: 50vh
  left: 50vw
  margin-left: -399px
  margin-top: -260px
  z-index: 0
  visibility: hidden
  //display: none
.modal-close
  width: 22px
  height: 22px
  font-size: 0
  background-color: transparent
  border: none
  cursor: pointer
  position: absolute
  top: 0
  right: -34px
  &::before, &::after
    content: ""
    position: absolute
    width: 24px
    height: 3px
    background-color: #d0d0d0
    top: 9px
    left: -1px
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)

.login-form
  input[type="text"], input[type="password"]
    font: inherit
    color: #000
    text-transform: uppercase
    background-color: #f9f6f3
    border: 2px solid #000
    border-right: 0
    width: 235px
    height: 43px
    padding-left: 16px
    float: left
    &:focus
      border-color: #663D15
      outline: none
.input-icon
  display: inline-block
  border: 2px solid #000
  border-left: 0
  width: 43px
  height: 45px
  background-color: #f9f6f3
  img
    margin: 13px 0 0 13px

.login-checkbox
  &:hover, &:focus
    color: #663D15
.login-password-info
  display: inline-flex
  width: 100%
  justify-content: space-between
  line-height: 18px
  margin: 0
  margin-top: 1px
  margin-bottom: 17px
.login-button
  width: 100%
  cursor: pointer
.restore
  color: #000
  text-decoration: underline
  &:hover, &:focus
    text-decoration: none

